.blank-page {
  width: 100%;
  min-height: 2334px;
  margin: 0 auto;
  background: var(--accent-color);
}

.blank-page-label {
  padding-top: 120px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: var(--main-color);
}