.clinic-analytics-page {
  width: 1440px;
  min-height: 2334px;
  margin: 0 auto;
  background: var(--accent-color);
}

.clinic-analytics-page-content {
  width: 1111px;
  margin: 67px auto 0;
}

.clinic-analytics-page-error {
  margin: 0 0 16px;
  color: #813405;
  font-size: 16px;
  font-weight: 700;
}

.clinic-analytics-page-arrows {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
