.clinic-analytics-page {
  width: 100%;
  min-height: 2334px;
  margin: 0 auto;
  background: var(--accent-color);
}

.clinic-analytics-page-content {
  width: min(1111px, 94%);
  margin: 67px auto 0;
}

.clinic-analytics-page-arrows {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
