.login-page {
  width: min(1440px, 100%);
  min-height: 100vh;
  margin: 0 auto;
  background: #1a1821;
}

.login-page-content {
  width: min(1111px, 92%);
  margin: 44px auto 0;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
